body {
    background: #fafafa;
    padding: 0;
    margin: 0;
    color: #000a12;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a {
    color: #3a4451;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Mirror the local sourceVideo */
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    width: 70%;
    height: auto;
}

div#content{
    position: relative;
    float: left;
    width: 70%;
    max-width: 600px;
    margin: 10px 10px 0;
    padding: 30px;
}
p, h4{
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    cursor: pointer;
}
div#loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#controls {
    display: none;
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
}

#controls > #buttons {
    display: flex;
}

#buttons button, #buttons a {
    width: 25%;
    height: 40px;
    background: rgba(255,255,255,0.2);
    border: 1px solid grey;
    color: white;
}

canvas#person {
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
}

#infotext {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 120%;
    background-color: rgba(0,0,0,0.2);
    /* bottom: 0; */
    /* margin: auto; */
    color: white;
    /* height: 400px; */
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 90px;
    height: 25px;
    width: 250px;
    color: #ffffff;
    background: linear-gradient(to right, #4d9221, #a1d76a, #e6f5d0, #ffaa00, #ff0000);
    color: #222;
    padding: 5px 5px 0px 5px;
}

#legendLeft {
    float: left;
}

#legendRight {
    float: right;
}
